<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Footer</title>
</head>
<body>
	<div class="row" data-th-fragment="footer">

			<div class="pie-pagina col-4">
			<h3 class="tit-footer">FACULTAD DE HUMANIDADES Y CIENCIAS SOCIALES</h3>
				<ul class="ulist">
					<li>Otero 262
					<li>San Salvador de Jujuy, Jujuy - Argentina
					<li> <a href="#">info@fi.unju.edu.ar</a>
				</ul>

			</div>


			<div class="pie-pagina col-4" >
				<h3 class="tit-footer">Redes Sociales</h3>
					<ul class = "ulist">
					<li><a href="https://x.com/prensaunju?lang=es">Instagram</a>
					<li><a href="https://www.facebook.com/universidadnacionaldejujuy/">Facebook</a>
					<li><a href="https://x.com/prensaunju?lang=es">Twitter</a>
					<li><a href="https://tv.unju.edu.ar">UNJuTV</a><br>
					</ul>
			</div>

			<div class="pie-pagina col-4" >
				<h3 class="tit-footer">Enlaces de Interés</h3>
					<ul class = "ulist-1">
					<li><a href = "https://www.fhycs.unju.edu.ar/telefonos_utiles.html" class="nav-link">Teléfonos</a>
					<li><a href = "https://www.fhycs.unju.edu.ar/secretaria_academica.html" class="nav-link">Secretaría Académica</a>
					<li><a href = "https://www.fhycs.unju.edu.ar/secretaria_extension/secretaria_extension.html" class="nav-link">Secretaría de Extensión</a>
					<li><a href = "https://www.fhycs.unju.edu.ar/secretaria_posgrado.html" class="nav-link">Secretaría de Posgrado</a>
					</ul>
			</div>
			<div class="copyright">
				<p>&copy; Tejeda Camila. Todos los derechos reservados.</p>
			</div>
		</div>
</body>
</html>