<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Header de Pagina</title>
<link rel="stylesheet" href="/CSS/estilos.css">
</head>
<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary" data-th-fragment="navbar">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">
		    <img alt="Logo Facultad" src="img/logo.png">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Acerca De</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Carreras
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="#">Tecnicatura en Comunicación Digital Convergente</a></li>
		            <li><a class="dropdown-item" href="#">Licenciatura en Antropología</a></li>
		            <li><a class="dropdown-item" href="#">Licenciatura en Ciencias de la Educación</a></li>
		            <li><a class="dropdown-item" href="#">Tecnicatura y Licenciatura en Turismo</a></li>
		            <li><a class="dropdown-item" href="#">Licenciatura en Educación para la Salud </a></li>
		            <li><a class="dropdown-item" href="#">Licenciatura en Historia</a></li>
		            <li><a class="dropdown-item" href="#">Profesorado y Licenciatura en Filosofía</a></li>
		            <li><a class="dropdown-item" href="#">Profesorado en Letras</a></li>
		            <li><a class="dropdown-item" href="#">Profesorado en Educación para la Salud</a></li>
		            <li><a class="dropdown-item" href="#">Licenciatura en Trabajo Social</a></li>
		            <li class="nav-item">
		          	<a class="nav-link disabled" aria-disabled="true">No Disponible</a>
		        	</li>
		            <li><hr class="dropdown-divider"></li>
		            <li><a class="dropdown-item" href="#">Otras</a></li>
		          </ul>
				<li class="nav-item">
		          <a class="nav-link" href="#">Noticias</a>
		        </li>
				<li class="nav-item">
		          <a class="nav-link" href="#">Contacto</a>
		        </li>		        
		      </ul>
		      <form class="d-flex" role="search">
		        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
		        <button class="btn btn-outline-success" type="submit">Buscar</button>
		      </form>
		    </div>
		  </div>
		</nav>
</body>
</html>